{% load static %}
{% load sitetree %}

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/olio.js' %}"></script>

{% block extrahead %}{% endblock extrahead %}
{% block extra_js %}{% endblock extra_js %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
  <nav class="navbar fixed-top navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">OLIO</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav">
            {% sitetree_menu from "maintree" include "trunk" template "olio/menu.html" %}
        </ul>

        {% block search %}{% endblock search %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group" aria-label="Basic example">
        {% block toolbar %}
          <!--<button type="button" class="btn btn-secondary">Test1</button>
          <button type="button" class="btn btn-secondary">Test2</button>
          <button type="button" class="btn btn-secondary">Test3</button>-->
        {% endblock toolbar %}
      </div>
    </div>
  </nav>


  <div class="row">{% block header %}{% endblock %}</div>
  {% bootstrap_messages %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="row">
      <div class="container-fluid">
        {% block widecontent %}
        <div class="col-md-4">
          <div class="sidebar">{% block sidebar %}{% endblock %}</div>
        </div>

        <div class="col-md-8">
          <div class="content">{% block content %}Kein Patient ausgewählt. Bitte die Suche benutzen.{% endblock %}</div>
        </div>
        {% endblock widecontent %}
      </div>
  </div>
</div>
