{% load sitetree %}
{% for item in sitetree_items %}

    {% if item.has_children %}
    <li class="dropdown">
        <a href="#"
           {% if item.hint %}title="{{ item.hint }}"{% endif %}
           {% if item.is_current or item.in_current_branch %}
            {{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}
           {% endif %}
           class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false" >
        {{ item.title_resolved }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        {% sitetree_children of item for menu template "olio/menu.html" %}
        </ul>
    </li>
    {% else %}
    <li>
        <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %} role="button" aria-expanded="false" class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>
        {{ item.title_resolved }}
        </a>
    </li>
    {% endif %}
{% endfor %}

