{% extends 'base.html' %}

{% block content %}
<h2>{{ problem.title }} ({{ problem.aceto_mandant.id }}/{{ problem.aceto_ticketnumber }})</h2>
<div class="">
    <p>{{ problem.description }}</p>
    <h4>Anrufe</h4>
    <div class="list-group">
        {% for call in problem.calls.all %}
        <a href="#" class="list-class-item">{{ call.id }}
        <span class="badge">tes</span></a>
        {% empty %}
        keine Anrufe bisher.
        {% endfor %}
    </div>
</div>
{% endblock content %}