{% extends 'base.html' %}

{% block content %}
<h2>Gemeldete ACETOmed - Probleme</h2>
    <div class="list-group">
        {% for problem in problems %}
            <a class="list-group-item{% if   problem.solved %} disabled{% endif %}" href="{% url 'acetobugs:problem' problem.id %}">
                <span class="badge">{{ problem.aceto_mandant.id }}/{{ problem.aceto_ticketnumber }}</span>
                <h4 class="list-group-item-heading">{{ problem.title }}</h4>
                <p class="list-group-item-text">{{ problem.description }}</p>
            </a>

        {% endfor %}
    </div>
{% endblock content %}