{% extends "acetomed/base.html" %}

{% block header %}
<div class="header sex-{{sex}}">
  {% if medizin.cave %}
  <div class="cave pull-right">
    {{ medizin.cave|default:"" }}
  </div>
  {% endif %}
  {% if medizin.info %}
  <div class="info pull-right">
    {{ medizin.info|default:"" }}
  </div>
  {% endif %}

  {% for kz in kennzeichen %}
    <a href="#" class="badge kennzeichen kennzeichen-{{ forloop.counter }}{% if kz.0 != -1 %}-{{ kz.0 }}{% endif %}">
      {% if kz.1 %}
        {{kz.1}}
      {% endif %}
    </a>
  {% endfor %}




  <h2 class="patient-name">{{ patient.name }}, {{ patient.vorname }} ({{ patient.gebdatum| date:"d.m.Y" }})</h2>

  <div class="header-item" style="background:grey;color:white;">
    ID: {{ patient.id }}
  </div>

  <div class="header-item">
    <span class="glyphicon glyphicon-credit-card"></span>
    SVNR: {{ patient.versicherungsnr }}
  </div>

  <div class="header-item adresse">
    <span class="glyphicon glyphicon-envelope"></span>
    {{ patient.strasse }} {{ patient.hausnummer }}, {{ patient.plz }} {{ patient.ort }}
  </div>

  <div class="header-item phone">
    <span class="glyphicon glyphicon-phone"></span>
    {{ patient.telefon }}
  </div>
</div>
{% endblock header %}


{% block sidebar %}
  <h4>Diagnosen</h4>
  {% for d in diagnosen %}
    <div class="doku_typ_diagnose">{{ d.diagnose_text }} ({{ d.status }})</div>
  {% endfor %}
  <h4>Medikamente</h4>
  {% for m in medikamente %}
    <div>{{ m.medikament }}</div>
  {% endfor %}
{% endblock sidebar %}


{% block content %}
  <table class="table-condensed table-hover">
    {% for line in doku %}
      {% if line.typ|lower == "untersuchung" %}
        <tr class="doku_typ_untersuchung" data-toggle="tooltip"
          title="Untersuchung-ID: FIXME">
          <td class="col-sm-1 date">{{ line.datum|date:"d.m.Y" }}</td>
      {% else %}
        <tr>
          <td class="col-sm-1 date"></td>
      {% endif %}
          <td class="col-sm-8 doku_typ_{{ line.typ|lower }} status-{{ line.status }}">
          {% if line.status == 99 %}
          <del><span data-toggle="tooltip"
            title="gelöscht">{{ line.doku_text }}</span></del>
          {% elif line.status == 90 %}
            <span data-toggle="tooltip"
            title="bereits abgerechnet">{{ line.doku_text }}</span>
          {% else %}
            {{ line.doku_text|striptags }}
          {% endif %}
          </td>
          <td class="col-sm-1">{{line.status}}</td>
          <td class="col-sm-1" data-toggle="tooltip"
            title="Zuletzt geändert am {{line.letzte_aenderung_datum }} um {{ line.letzte_aenderung_uhrzeit }}">{{ line.bearbeiter }}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock content %}
