{% extends "acetomed/base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="list-group table table-hover">
    {% for patient in patients %}
      <tr id="patient-id-{{ p.id }}">
        <td><span class="badge">{{ patient.titel|default:"" }}</span></td>
        <td><a href="{% url 'acetomed:detail' patient.id %}"
               data-toggle="tooltip"
               title="ID: {{ patient.id }}, SVNR: {{ patient.versicherungsnr }}">{{ patient.name }}</a></td>
        <td>{{ patient.vorname }}</td>
        <td>{{ patient.gebdatum | date:"d.m.Y" }}</td>
      </tr>
    {% empty %}
      <tr>
      <td>Keine Patienten mit den Suchkriterien gefunden</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
