{% load bootstrap3 %}

{% block search %}
    <form id="patientsearchform" class="form-inline navbar-form navbar-right" action="{% url 'acetomed:patientsearch' %}" method="GET" accept-charset="utf-8">
        {% csrf_token %}
        <div class="form-group">
          <input name="patient_search_string" id="patient_search_string" type="search" class="form-control mr-sm-2" placeholder="Vorname, Nachname">
        </div>
        {% buttons %}
          <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> Suche</button>
        {% endbuttons %}
    </form>
{% endblock %}
