
body { padding-top: 84px; }

.doku_typ_anamnese,
.doku_typ_befund {
  color: darkgrey;
}

.doku_typ_untersuchung {
  color: black;
  font: bold;
  background: lightgrey;
}

.doku_typ_therapie {
  color: darkgreen;
}

.doku_typ_diagnose {
  color: red;
}

.doku_typ_leistung {
  color: blue;
}

.doku_typ_aut_f_vu_allg {
  color: green;
}

.doku_typ_rezept {
  color: #252950;
}

.doku_typ_formular {
  color: brown;
}

table {
  margin-top:1em;
}

.cave, .info {
	background: red;
	color: white;
	font-weight: bold;
	padding: 2px;
	border-radius: 4px;
	max-width: 32em;
}
.header {
	margin: 2px;
	padding: 4px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
}

.header-item {
  display:inline-block;
  background-color: #e7e7e7;
  border-radius: 3px;
  padding: 2px 4px;
}

.sex-male {
	background-color: #dafaff;
}
.sex-female {
	background-color: #ffbadf;
}
.sex-unknown {
	background-color: lightgray;
}

/***** DOKU STATUS *****/

.status-90 {
	text-shadow: 2px 2px lightgrey;
	color: darkgrey;
}


/***** MENU *****/
#primary_menu {
	position: fixed;
}

.logo {
	color: white;
	font-weight: bold;
	font-size: 2em;
}

/***** TOOLBAR *****/

#toolbar {
	background-color: #303030;
	/*position: fixed;*/
}

/***** SIDEBAR *****/
.sidebar {
}

/***** Navigation bar *****/
#modebar {
    background: lightblue;
    height: 100%;
}

/***** Kennzeichen *****/
.kennzeichen {

}