{% extends "acetomed/base.html" %}

{% block widecontent %}

  <table class="table table-hover">
      <div class="list-group">
        {% for dokumentation in object_list %}
          <a href="{% url 'acetomed:detail' dokumentation.patient.id %}" class="list-group-item" id="patient-id-{{ dokumentation.patient }}"><span class="badge">{{ dokumentation.status }}</span>
          <p class="small">{{ dokumentation.doku_text }}</p>
          </a>
        {% empty %}
          </div>
          <tr>
          <td>Keine ungelesenen Befunde</td>
          </tr>
        {% endfor %}
  </table>

{% endblock widecontent %}

{% block search %}
  {% include "acetomed/patients/search.html" %}
{% endblock search %}
