{% extends "acetomed/base.html" %}

{% block widecontent %}

  <table class="table table-hover">
      <div class="list-group">
        {% for object in object_list %}
        <a href="{% url 'acetomed:detail' object.patient.id %}"
           class="list-group-item"
           id="patient-id-{{ object.patient }}">
            {{ object.patient }}<span class="badge">{{ object.status }}</span>
            <p class="small">VU vom {{ object.datum }}</p>
        </a>
        {% empty %}
      </div>
      <tr>
      <td>Keine Fehler gefunden</td>
      </tr>
    {% endfor %}
  </table>

{% endblock widecontent %}

{% block search %}
  {% include "acetomed/patients/search.html" %}
{% endblock search %}
