{% extends "acetomed/base.html" %}

{% block widecontent %}
<h1>Mögliche Probleme</h1>
<div class="problem-link">
    <a href="{% url 'acetomed:notsentvus' %}">Nicht abgeschickte VUs</a>
</div>
{% endblock %}
